## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df2 = application_df.drop(['EIN','NAME'],1)
application_df2.head()

<ipython-input-5-eaa6a4cd5f70>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df2 = application_df.drop(['EIN','NAME'],1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Determine the number of unique values in each column.
application_df2.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_df2.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
value_counts = application_df2.APPLICATION_TYPE.value_counts().rename_axis('APPLICATION_TYPE').reset_index(name='counts')
value_counts2 = value_counts[value_counts['counts'] < 200]
application_types_to_replace = value_counts2['APPLICATION_TYPE']

# Replace in dataframe
for app in application_types_to_replace:
    application_df2['APPLICATION_TYPE'] = application_df2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Look at CLASSIFICATION value counts for binning
application_df2.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
vc = application_df2.CLASSIFICATION.value_counts()
print(vc[vc > 1])

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [22]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
value_counts = application_df2.CLASSIFICATION.value_counts().rename_axis('CLASSIFICATION').reset_index(name='counts')
value_counts2 = value_counts[value_counts['counts'] < 1200]
classifications_to_replace = value_counts2['CLASSIFICATION']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df2['CLASSIFICATION'] = application_df2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [23]:
application_df2.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
features = pd.get_dummies(application_df2[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])
features['STATUS'] = application_df2['STATUS']
features['ASK_AMT'] = application_df2['ASK_AMT']
features.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,5000
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,108590
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,5000
3,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,6692
4,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,1,142590

In [27]:
# Split our preprocessed data into our features and target arrays
y = application_df2['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(features, y)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [77]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=200, activation="relu", input_dim=43))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation="relu"))

nn.add(tf.keras.layers.Dropout(0.1))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation="tanh"))

nn.add(tf.keras.layers.Dropout(0.1))

nn.add(tf.keras.layers.Dense(units=200, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_61 (Dense)            (None, 200)               8800

 dense_62 (Dense)            (None, 200)               40200

 dropout_8 (Dropout)         (None, 200)               0

 dense_63 (Dense)            (None, 200)               40200

 dropout_9 (Dropout)         (None, 200)               0

 dense_64 (Dense)            (None, 200)               40200

 dense_65 (Dense)            (None, 1)                 201

=================================================================
Total params: 129,601
Trainable params: 129,601
Non-trainable params: 0
_________________________________________________________________

In [78]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [79]:
# Train the model
train = nn.fit(X_train_scaled, y_train, epochs=40)

Epoch 1/40
804/804 [==============================] - 5s 4ms/step - loss: 0.5712 - accuracy: 0.7220
Epoch 2/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5578 - accuracy: 0.7282
Epoch 3/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5555 - accuracy: 0.7304
Epoch 4/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5529 - accuracy: 0.7328
Epoch 5/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5516 - accuracy: 0.7324
Epoch 6/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5512 - accuracy: 0.7334
Epoch 7/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5501 - accuracy: 0.7333
Epoch 8/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5485 - accuracy: 0.7340
Epoch 9/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7341
Epoch 10/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7359
Epoch 11/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5469 - accuracy: 0.7343
Epoch 12/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5458 - accuracy: 0.7362
Epoch 13/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5451 - accuracy: 0.7359
Epoch 14/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5452 - accuracy: 0.7365
Epoch 15/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7362
Epoch 16/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5448 - accuracy: 0.7359
Epoch 17/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5430 - accuracy: 0.7374
Epoch 18/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5435 - accuracy: 0.7374
Epoch 19/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7382
Epoch 20/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5427 - accuracy: 0.7379
Epoch 21/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5423 - accuracy: 0.7386
Epoch 22/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5412 - accuracy: 0.7382
Epoch 23/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5418 - accuracy: 0.7379
Epoch 24/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5407 - accuracy: 0.7383
Epoch 25/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5409 - accuracy: 0.7378
Epoch 26/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5410 - accuracy: 0.7385
Epoch 27/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5399 - accuracy: 0.7378
Epoch 28/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5402 - accuracy: 0.7386
Epoch 29/40
804/804 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7390
Epoch 30/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7390
Epoch 31/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5393 - accuracy: 0.7395
Epoch 32/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - accuracy: 0.7392
Epoch 33/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5392 - accuracy: 0.7405
Epoch 34/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7405
Epoch 35/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5389 - accuracy: 0.7392
Epoch 36/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7396
Epoch 37/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7400
Epoch 38/40
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7386
Epoch 39/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7405
Epoch 40/40
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7395

In [80]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5603 - accuracy: 0.7256 - 491ms/epoch - 2ms/step
Loss: 0.560348391532898, Accuracy: 0.7255976796150208

In [81]:
# Export our model to HDF5 file
nn.save('my_model.h5')